<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="localSTSConfiguration" type="System.IdentityModel.Tools.LocalSTS.LocalSTSConfiguration, LocalSTS, Version=5.0.0.0, Culture=neutral, PublicKeyToken=f300afd708cefcd3" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <localSTSConfiguration port="13000" signingCertificate="LocalSTS.pfx" signingCertificatePassword="LocalSTS" issuerName="LocalSTS" tokenFormat="Saml11">
    <claims>
      <add type="http://schemas.microsoft.com/accesscontrolservice/2010/07/claims/identityprovider" displayName="IdentityProvider" value="LocalSTS" />
      <add type="http://carmax.org/ADFS/Attribute/sAMAccountName" displayName="Username" value="164347" />
      <add type="http://carmax.org/ADFS/Attribute/displayName" displayName="DisplayName" value="Test C. User" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="KMX\Domain Users" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="KMX\MISOrg" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="KMX\KMX-APP-RSA-G-Techs" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="KMX\KMX-APP-RSA-G-CAFCSR" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="KMX\KMX-APP-RSA-G-IT" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="KMX\KMX-APP-RSA-G-HOSVCOPS" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="KMX\KMX-APP-RSA-G-HOSVCOPSBUSMGR" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="KMX\KMX-APP-RSA-G-SVCCON" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="KMX\KMX-APP-RSA-G-SVCMGR_OPSDMGR" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="KMX\KMX-APP-RSA-G-OPSMGR_SFMGR" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="KMX\KMX-APP-RSA-G-SFCUSTSPEC" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="KMX\KMX-APP-RSA-G-SFREPOPS" />
      <add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="KMX\KMX-APP-RSA-G-REGMGR" />
      <add type="http://carmax.org/ADFS/Attribute/cmxWORKlocNUM" displayName="WorkLoc" value="7242" />
      <add type="http://carmax.org/ADFS/Attribute/employeeNumber" displayName="UserAdpId" value="164347" />
    </claims>
  </localSTSConfiguration>
</configuration>